PORT=8000
CORS_ORIGIN=*

ACCESS_TOKEN_SECRET=harsh

ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=hitha
REFRESH_TOKEN_EXPIRY=10d

MONGODB_URI=mongodb+srv://harshuchethu3_db_user:7FGa8bJEiavGweAy@cluster0.jsoi2ed.mongodb.net



